- const mainMenu = [{"label": "O akci","link": "#o-akci" }, {"label": "Minulý ročník","link": "https://2019.hellofit.cz" }]

doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Hello FIT! 2020
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="img/fitpp_white.png" rel="apple-touch-icon")
        link(href='img/fitpp_sqr.png' rel='icon')
        meta(name="theme-color" content="#1174BA")

        link(type="text/css" href="https://use.typekit.net/qlg5ujf.css" rel="stylesheet")

    body

        nav#main-nav
            div.widthWrap
                a(data-scroll href="#header")
                    img#logo(src=require("./img/fitpp_white.png"))
                ul
                    each item in mainMenu
                        li
                            a(href=item.link)=item.label
            
        header#header

            h1 Hello FIT!
            time#date 17. září 2020
            #place Někde v Praze 🤷

            #header-buttons
                a.button1(href="https://forms.gle/QyWi7miAp5H2mfD1A" target="_blank") Registrace
                a.button1(href="https://www.facebook.com/events/722671144968768/" target="_blank") FB Událost

        main

            article#o-akci
                .widthWrap
                    h2 O akci
                    p Hello FIT! je jednodenní populárně naučný úvod do studia, který ti pomůže s přechodem ze střední školy na FIT. <em>Účast na akci je zdarma</em> a čekají tě zajímavé a užitečné přednášky, workshopy, prohlídky prostor (nejen) fakulty a v neposlední řadě také večerní afterpárty. 
                    p Hello FIT! je nástupcem akce Technokrati, kterou až do roku 2016 pořádal dnes již bývalý klub tech@SU.
                    p Jsou pro vás připravovány také další dvě seznamovací akce. První je oficiální seznamovák všech fakult ČVUT, #[a(href="http://seznamovak.cvut.cz" target="_blank") zaČVUTění], který pro tebe připravuje  #[a(href="http://su.cvut.cz" target="_blank") Studentská unie ČVUT]. Další akcí je #[a(href="http://seznamovak.fit.cvut.cz" target="_blank") Seznamovák FIT], kterou organizují studenti FIT.

            article#organizatori
                .widthWrap
                    h2 Organizátoři

                    .contact-boxes-wrapper
                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/milan-kurka.jpg?width=200&quality=80")['src'] alt="Milan Kurka")
                            h3 Milan Kurka
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/kurkamil" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/MilanKurka" title="@MilanKurka" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:milan.kurka@fit.cvut.cz" title="milan.kurka@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Milan je bývalý student FITu, kde momentálně pracuje na PR oddělení, takže ho uvidíš prakticky na každé akci. Zároveň zastává pozici PR ve Studentské unii ČVUT, takže ví, kde se jaká párty rozjíždí. Prsty má také ve festivalech Strahov OpenAir, SHOW Strahov a dalších akcích. Ve volném čase se zajímá o grafický design, nová média a pivo. Jo, hlavně pivo. A rád na něj s vámi zajde!

                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/marcel-petran.jpg?width=200&quality=80")['src'] alt="Marcel Petráň")
                            h3 Marcel Petráň
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/marcel.petran.3" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/marcelpetran" title="@marcelpetran" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:petram21@fit.cvut.cz" title="petram21@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Marcel je zde poměrně nový. Sice studuje bakaláře prvním rokem, ale za tu dobu se stihl zapojit do mnoha projektů. Je také znám jako “Kluk z plakátu” a můžete ho najít na mnoha propagačních materiálech FITu. Kromě toho organizuje LAN party jak na FITu, tak i na své koleji. Aktivně se zapojuje do různých akcí a dělá dokonce admina na Sincoolce. Svůj volný čas využívá ke grafickému a webovému designu a je velký milovník memes, které taky sem tam tvoří.

                        .contact-box
                            .contact-box--photo-wrapper
                                img(src=require("advanced-image-loader!./img/contacts/jaroslav-kriz.jpg?width=200&quality=80")['src'] alt="Jaroslav Kříž")
                            h3 Jaroslav Kříž
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/krizjar5" target="_blank")
                                    img(src=require("./img/icons/facebook-box.svg") alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/krizjar5" title="@krizjar5" target="_blank")
                                    img(src=require("./img/icons/twitter.svg") alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:krizjar5@fit.cvut.cz" title="krizjar5@fit.cvut.cz" target="_blank")
                                    img(src=require("./img/icons/email-outline.svg") alt="e-mail" inline)
                            p.contact-box--bio Jarda je člověk, který neřekne ne na žádnou akci. Takže ho uvidíš organizovat spoustu akcí v rámci fakulty, mimo ní a dokonce i FIT++. A pokud shodou okolností neorganizuje, na té akci se stejně potuluje. Poměrně úspěšně dostudoval bakaláře a pokračuji ve FIT krasojízdě. Neodmítá pozvání na Kofolu. Nebo Malinovku. To záleží. Snaží se věnovat i karate.

            article#prohlaseni
                .widthWrap
                    p Akce je organizována klubem FIT++ za podpory Fakulty informačních technologií ČVUT v Praze.

        footer
            .widthWrap
                .innerWrap
                    img.footer-logo(src=require("./img/fitpp.png") alt="FIT++")
                    ul
                        li.strong FIT++, zájmový klub Studentské unie ČVUT
                        li Thákurova 9, 160 00 Praha 6
                        li email: 
                            a(href="mailto:fitpp@su.cvut.cz").invisible-link fitpp@su.cvut.cz
                        li
                            ul.linear-list-with-slash
                                li 
                                    a(href="https://fb.com/klubfitpp" target="_blank") Facebook
                                li
                                    a(href="http://twitter.com/klubFITpp" target="_blank") Twitter
                                li
                                    a(href="https://www.instagram.com/klubfitpp" target="_blank") Instagram
                                li
                                    a(href="https://klubfitpp.cz" target="_blank") Web
                                li
                                    a(href="https://gitlab.com/klubfitpp/hellofit/hellofit_2020") Git
                                li
                                    a(href="https://2019.hellofit.cz") Ročník 2019
                                li #hellofit2020
